{% extends "myApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
            <div class="text-center" >

              <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="  height:200px; width:200px;">
            </div>
            <br>
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
            
        </div>
      </div>
<!-- update form -->
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Hello there</legend>
                {{ person_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>

    </div>
<!-- update form end -->
{% endblock content %}