{% extends "myApp/base.html" %}

{% block sidebar_left %}
{{text2}}
{% endblock %}


{% block content %} 
{{"These customer will visit you today"}}
<hr>

{% for p in my_customers %}
<div  class="row" style="background-color:#f5f5f0;
padding: 10px 10px 10px 10px;">

	<div class="col-md-8">
			<p>Person : {{p}}</p>
			 <p> {{p.user.profile.phone_number}}</p>
			 <p> {{p.email}}</p>
			<p>Address :  {{p.address_line1}} 
			  {{p.address_line2}} 
			  {{p.address_line3}}</p>
	</div>	
	<div class="col-md-4">
		<img class="rounded-circle account-img" src="{{ p.user.profile.image.url }}" style="  height:100px; width:100px;">
	</div>
</div>
<hr>
{% endfor %}

{% if is_paginated %}

	{% if page_obj.has_previous %}
	<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
	{% if page_obj.number == num %}
	  <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
	{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
	  <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
	{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
	{% endif %}

{% endif %}
{% endblock content %}