{% extends "myApp/base.html" %}

{% block sidebar_left %}
{{text2}}
{% endblock %}


{% block content %}<hr>
<h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
  <!-- user posts -->
  {% for post in PersonAddressModel %}
  <div  >
      <!-- detail  -->
      <h2><a class="article-title" href="{% url 'post-detail' post.id %}">
        {{ post.author }}</a></h2>
      <!-- user posts -->
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <!-- attr -->
      <p>{{ post.num_fam_mem }}</p>
      <p>{{ post.address_line1 }}</p>
      <p >{{ post.landmark }}</p>
  </div>
  <hr>
  {% endfor %}
  
{% if is_paginated %}

  {% if page_obj.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

{% endif %}
{% endblock content %}